
@{
    ViewBag.Title = "Index";
}

<h2>Sobre nosotros</h2>
<br />
<div class="row featurette">
    <div class="col-md-7">
        <h2 >Tu confianza <span class="text-muted">nuestro motor</span></h2>
        <p class="lead">Somos una empresa líder en la compra y venta de motores con la misión de proveer a nuestros consumidores la mejor experiencia al momento de adquirir cualquier tipo de motor, buscando trabajar con las marcas mas reconocidas a nivel global y brindando seguridad y excelente servicio a nuestros clientes. Con más de 20 años de experiencia en el mercado, &copy; Bull Motors te acompaña en todo el proceso de compra de tu nuevo motor y así mismo busca que tu comodidad y la de tu familia sean la prioridad. Si buscas un motor tu mejor opción somos nosotros…</p>
    </div>
    <div class="col-md-5">
        <i>
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="250"  preserveAspectRatio="xMidYMid slice" focusable="false" src="https://noticiaslogisticaytransporte.com/wp-content/uploads/2014/04/1.gif" />
        </i>
    </div>
</div>

<hr class="featurette-divider">
<h4 class="text-center"> Misión</h4>
<p class="lead" >
    Satisfacer las necesidades de financiamiento automotriz de nuestros clientes basándonos en una atención personalizada, una actitud cercana y amable, así como en la generación de valor agregado para garantizar la calidad en nuestro servicio.
</p>
<hr class="featurette-divider">
<h4 class="text-center"> Visión</h4>
<p class="lead">
    Ser líderes en la inovación y producción de motores nuevos, usados y flotillas siempre enfocados en el cliente. Esto permitirá adelantar el futuro.
</p>

<hr class="featurette-divider">
<h4 class="text-center"> Equipo</h4>
<br />
<div class="row">
        <div class="col-lg-4 text-center">
            <img src="~/Content/Imagenes/TiendaMotores/equipo1.jpg" width="60" height="60" class="circulo imagen" />
            <h4>Kevin Sanchez</h4>
            <p>Programador</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img src="~/Content/Imagenes/TiendaMotores/equipo2.jpg" width="60" height="60" class="circulo imagen" />
            <h4>Gabriela Juarez</h4>
            <p>Analista</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img src="~/Content/Imagenes/TiendaMotores/equipo3.jpg" width="60" height="60" class="circulo imagen" />
            <h4>Uriel Gonzalez</h4>
            <p>Diseñador</p>
        </div><!-- /.col-lg-4 -->
    
   
</div><!-- /.row -->
<br />
<br />

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Contacto</h2>
        <p class="lead"></p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" src="https://i.blogs.es/983471/partes-motor-coche/1366_2000.jpg" />

    </div>
</div>