
@{
    ViewBag.Title = "Index";
}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>¡Lo sentimos!</strong> Parece que usted no tiene acceso a la ruta...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>