@using TiendaMotores.Models
@{
    ViewBag.Title = "PagandoPayPal";
    if (Session["rol"].ToString() == "Administrador")
    {
        Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Reclutador"))
    {
        Layout = "~/Views/Shared/_LayoutRecursosHumanos.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Empaquetador"))
    {
        Layout = "~/Views/Shared/_LayoutPaqueteria.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Enviador"))
    {
        Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Comprador"))
    {
        Layout = "~/Views/Shared/_LayoutCompras.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Vendedor"))
    {
        Layout = "~/Views/Shared/_LayoutVentas.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Productor"))
    {
        Layout = "~/Views/Shared/_LayoutProduccion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Cliente"))
    {
        Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = "Pagando con PayPal";
    int idClient =(int) Session["idCli"];
    int idDir = (int)Session["idDir"];
    string nombre = Session["usuario"].ToString();
    List<Item> cart = (List<Item>)Session["cart"];
    var tottal = cart.Sum(item => item.Producto.precio);
}
<div class="container" style="margin:2rem auto" align="center">
    <div>
        <img src="~/Content/Imagenes/Tarjetas/paypal.png" width="160" />
    </div>

    <main>
        <p class="text-primary h2" >
            <b>
                Bienvenido @nombre
            </b>
            <br />
        </p>
        <p class="text-info">¿Acepta el pago de los siguientes articulos?</p>
        <table class="table-striped">

            <tr>
                <td colspan="5" class="text-center bg-secondary" style="height:25px;width:40px;padding:20px">
                    <b style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">B u l l M o t o r s</b>
                </td>
            </tr>
            <tr>
                <td class="bg-primary" style="height:25px;padding:15px">
                    Importe en pesos:
                </td>
                <td style="height:25px;padding:15px"><b>$@tottal</b></td>
            </tr>
        </table>
        <br />
        <br />
    </main>
    <div style="margin:auto">
        <a class="btn btn-secondary" style="text-decoration:none" href="@Url.Action("CrearOrden","MetodoPago")">
            Regresar
        </a>
        <a class="btn btn-warning" style="text-decoration:none" href="@Url.Action("PagoNoAceptado","MetodoPago")">
            Cancelar
        </a>
        <a class="btn btn-success" style="text-decoration:none" href="@Url.Action("HacerCompraConPay","MetodoPago")">
            Confirmar compra
        </a>

    </div>

</div>



