@using TiendaMotores.Models
@{
    ViewBag.Title = "PagarCon";
    if (Session["rol"].ToString() == "Administrador")
    {
        Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Reclutador"))
    {
        Layout = "~/Views/Shared/_LayoutRecursosHumanos.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Empaquetador"))
    {
        Layout = "~/Views/Shared/_LayoutPaqueteria.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Enviador"))
    {
        Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Comprador"))
    {
        Layout = "~/Views/Shared/_LayoutCompras.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Vendedor"))
    {
        Layout = "~/Views/Shared/_LayoutVentas.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Productor"))
    {
        Layout = "~/Views/Shared/_LayoutProduccion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Cliente"))
    {
        Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Método de pago</h2>

<br />
<div class="card">
    <div class="card-title">
        Datos de la tarjeta
    </div>
    <div class="card-body">




    </div>
</div>
<div class="card">
    <div class="card-title">
        Dirección relacionada a tu tarjeta
    </div>
    <div class="card-body">




    </div>
</div>

<br />
<br />
<div class=" mx-auto">

    @{
        List<Item> cart = (List<Item>)Session["cart"];
        var total = cart.Sum(item => item.Producto.precio * item.Cantidad);

    }
    <br />

    <div class="card text-white bg-secondary mb-9 mx-auto" style="max-width: 22em;">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4"> Subtotal: </dt>
                <dd class="col-sm-8">$@total</dd>
                <dt class="col-sm-4">Costo de envio: </dt>
                <dd class="col-sm-8">$0.00 (Envio gratis)</dd>

            </dl>

            <hr />
            <dl class="row">
                <dt class="col-sm-4">Total: </dt>
                <dd class="col-sm-8">$@total</dd>
            </dl>
            <p>Los precios ya incluyen IVA</p>

        </div>
    </div>
    <br />
    <div style="margin:auto">
        <a class="btn btn-success" style="text-decoration:none" href="@Url.Action("CrearOrden","MetodoPago")">
            Regresar
        </a>
        <a class="btn btn-success" style="text-decoration:none" href="@Url.Action("ConfirmarCompra","MetodoPago")">
            Confirmar compra
        </a>
        <a class="btn btn-warning" style="text-decoration:none" href="@Url.Action("PagoNoAceptado","MetodoPago")">
            Cancelar
        </a>
    </div>
</div>

