
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEnvios.cshtml";

    DateTime dia = DateTime.Now;
    var hora = dia.Hour;
    string mensaje = "";
    if (hora < 12)
    {
        mensaje = "Buenos días: ";

    }
    if ((hora >= 12) && (hora <= 19))
    {
        mensaje = "Buenas tardes";

    }
    if (hora > 19)
    {
        mensaje = "Buenas noches";
    }
    string name = @Session["usuario"].ToString();
}
<h2>Departamento de Envios</h2>
<h3>@mensaje @name</h3>

<hr />
<section style="margin-bottom:1em; margin-top:1em">
    <article>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner active">
                <div class="carousel-item active" data-interval="2000">
                    <img src="~/Content/Imagenes/TiendaMotores/imgCarr1.jpg" width="1200"
                         loading="lazy" class="d-block h-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="2000">
                    <img src="~/Content/Imagenes/TiendaMotores/imgCarr3.jpg" width="1200"
                         loading="lazy" class="d-block h-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="2000">
                    <img src="~/Content/Imagenes/TiendaMotores/imgCarr4.jpg" width="1200"
                         loading="lazy" class="d-block h-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </article>
    <!--
    <article>
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.

                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </article>


    <article class="my-3" id="modal">
        <div>
            <div class="bd-example">
                <div class="d-flex justify-content-between flex-wrap">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalDefault">
                        Launch demo modal
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropLive">
                        Launch static backdrop modal
                    </button>
                </div>
            </div>
        </div>
    </article>
        -->

</section>
